:host() {
  width: 100%;
  height: 100%;
  background-color: white;
}

.container {
  position: relative;
  width: 500px;
  height: 500px;
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 380px;
  background-image: url(/assets/dialog.png);
  background-repeat: no-repeat;
  background-size: 500px 380px;
}

.dialog-content {
  position: absolute;
  top: 100px;
  left: 55px;
  width: 360px;
  height: 140px;
  overflow-y: auto;
}

.face {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
  width: 200px;
  background-image: url('/assets/face.png');
  background-repeat: no-repeat;
  background-size: 200px 200px;
  cursor: pointer;
}

.close {
  position: absolute;
  right: 50px;
  top: 50px;
}
